*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
}

.hero {
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  #typeWritter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid grey;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Adjust as needed */
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0
      }

      to {
        width: 100%
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

      from,
      to {
        border-color: transparent
      }

      50% {
        border-color: grey;
      }
    }
  }

  h1 {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    letter-spacing: .15em;

    #hello-span {
      align-self: center;
      font-size: 7.4rem;
    }
  }
}

.header {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
}

// Navegacion - Barra superior
.navigation__container {
  width: 100%;
  height: 100%;
  // background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    margin-left: 2em;
    color: white;
    height: 100%;

    .logotipo {
      height: 100%;
      width: 50%;
    }
  }

  .menu_nav {

    ul {
      display: flex;
      list-style: none;

      li {
        padding: 0 2em;
        font-size: 1.8rem;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          transition: color .3s ease 0s;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}