$font-family: 'Montserrat',
sans-serif;

/* Color Theme Swatches in RGBA */
// $colorPrincipal: #ffffff;
// $colorSecundario: rgba(140, 140, 140, 1);
// $colorTerciario: rgba(89, 89, 89, 1);
// $colorCuarto: rgba(64, 64, 64, 1);
// $colorQuinto: rgba(38, 38, 38, 1);

$black: #000505;
$white: #F7F7F2;
$rosaPurpura: #8E44AD;
$Purpura: #5F4BB6;
$cobalBlue: #86A5D9;

$negro: #333333;
$blancogrisesco: #d6dade;
$gris: #656565;
$celeste: #46bcde;
$verdeAgua: #52d273;
$naranja: #e57254;