$font-family: 'Montserrat',
sans-serif;

$white: #ffffff;
$negro: #333333;
$blancogrisesco: #d6dade;
$gris: #656565;
$celeste: #46bcde;
$verdeAgua: #52d273;
$naranja: #e57254;

// Hamburger menu options
$color-background: #F5F5F5;
$color-main: $negro;
$color-active: $naranja;
$color-link: #FFF;

$button-height: 1.8em;
$button-width: 2.4em;